img.img-responsive{
  width: 100%;
  height:auto;
}
img.img-responsive-height{
  height: 100%;
  width:auto;
}

.fullwidth{
  width: 100vw;
}

.fullheight{
  height: 100vh;
}

.fullheight-min{
  min-height: 100vh;
}

.no-padding{
  padding: 0 !important;
}

.no-margin{
  margin: 0 !important;
}

.lh-1{
  line-height: 1;
}

.hidden{
  display: none !important;
}

.overflow-hidden{
  overflow: hidden !important;
}

/*********************
GRADIENT
*********************/

.background-gradient-about{
  background: $newnew-color-blue;
  background: linear-gradient(180deg, $newnew-color-blue 0%, $newnew-color-blue 72%, $newnew-color-pink 100%);
}

.background-gradient-fellowship-top{

  background: transparent radial-gradient(closest-side at 50% 50%, #FF605A 0%, #ffffff 100%, #FFFFFF 100%) 0% 0% no-repeat padding-box;

  opacity: 1;
  filter: drop-shadow(16px 16px 20px white);
  z-index: 0;
 


}

.background-gradient-fellowship-back {
background: transparent radial-gradient(closest-side at 50% 50%, #D3D2D9 0%, #FFFFFF 100%, #FFFFFF 100%) 0% 0% no-repeat padding-box;

opacity: 1;


}
.background-gradient-about-top {
  background: transparent radial-gradient(closest-side at 50% 50%, #D5B8FF 0%, #FFFFFF 100%, #FFFFFF 100%) 0% 0% no-repeat padding-box;

opacity: 1;

}
.background-gradient-jury-back {
  background: transparent radial-gradient(closest-side at 50% 50%, #FF8282 0%, #FFFFFF 100%, #FFFFFF 100%) 0% 0% no-repeat padding-box;
opacity: 0.64;

opacity: 1;
}
.background{
  &--blue{
    background-color: $newnew-color-blue;
  }
  &--pink{
    background-color: $newnew-color-pink;
  }
  &--orange{
    background-color: $newnew-color-orange;
  }
  &--red{
    background-color: $newnew-color-red;
  }
  &--gray, &--grey{
    background-color: $newnew-color-gray;
  }

  &--white{
    background-color: $newnew-color-white;
  }

  &--generic{
    background-color: $newnew-color-blue;
  }

}

.color{
  &--gray, &--grey{
    color: $newnew-color-gray;
  }
  &--red{
    color: $newnew-color-red;
  }
  &--black{
    color: $newnew-color-black;
  }
  &--black-dark{
    color: $newnew-color-black-dark;
  }
  &--pink{
    color: $newnew-color-pink;
  }
  &--blue{
    color: $newnew-color-blue;
  }
  &--orange{
    color: $newnew-color-orange;
  }
  &--lavender{
    color: $newnew-color-lavender;
  }
  &--white{
    color: $newnew-color-white;
  }
}






