// SOW Slider / Hero Widget
.so-widget-sow-hero,
.so-widget-sow-slider {
  .sow-slider-image-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .sow-slider-pagination {
    display: block !important;
    text-align: center;
    padding-right: 0;

    li {
      padding-left: $grid-gutter-width / 8;
      padding-right: $grid-gutter-width / 8;

      a {
        background: $secondary-color !important;
      }

      &.sow-active a {
        // background: $secondary-color;
      }
    }
  }

  .sow-slide-nav a {
    em {
      height: 70px;
      width: 22px;
    }

    em.sow-sld-icon-RUWP-right {
      background-image: url("../images/ui/ruwp-next.svg");
    }

    em.sow-sld-icon-RUWP-left {
      background-image: url("../images/ui/ruwp-prev.svg");
    }

    &:hover {
      em.sow-sld-icon-RUWP-right {
        background-image: url("../images/ui/ruwp-next_primary.svg");
      }

      em.sow-sld-icon-RUWP-left {
        background-image: url("../images/ui/ruwp-prev_primary.svg");
      }
    }
  }

  .sow-slider-image-wrapper {
    display: flex;
    flex-direction: column;
    // padding-bottom: 2 * $grid-gutter-width;
    img {
      flex-shrink: 0;
    }
  }

  .sow-slider-image-ovleray-middle .sow-slider-image-wrapper {
    align-items: center;
    justify-content: flex-end;
  }

  .sow-slider-image-ovleray-bottom .sow-slider-image-wrapper {
    align-items: center;
    justify-content: flex-end;
  }
}
