/*********************
FONTS
*********************/

$fontsize-185: 7vw !important;
$fontsize-100: 5vw !important;
$fontsize-90: 4rem !important;
$fontsize-40: 3.125rem !important;
$fontsize-50: 2.125rem !important;
$fontsize-30: 1.875rem !important;

.fontsize-185 {
  div, p, span, a, ol, ul, dl, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    font-size: $fontsize-185;
  }
  font-size: $fontsize-185;
}

.fontsize-100 {
  div, p, span, a, ol, ul, dl, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    font-size: $fontsize-100;
  }
  font-size: $fontsize-100;
}

.fontsize-90 {
  div, p, span, a, ol, ul, dl, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    font-size: $fontsize-90;
  }
  font-size: $fontsize-90;
}

.fontsize-50 {
  div, p, span, a, ol, ul, dl, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    font-size: $fontsize-50;
  }
  font-size: $fontsize-50;
}


.grid-container{
display: grid;
grid-template-columns: repeat(2, minmax(200px, 1fr));
grid-gap: 10px;
margin-left: 0px;

padding-left: 45px;
padding-right: 45px;

}

///NAVIGATION///

.grid-container1-btnnav {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto;
  grid-gap: 8px;
  padding: 13px;
  float: left;
  margin-left: 36px;
  font-size: 31px;
  margin-top: 40px;

}






.container {
  max-width: 1024px;
  padding-right: 0px;
  padding-left: 0px;

}


.shop-btn {
  

    height: 100px;
    font-size: 30px;
    position: relative;
    margin-left: 38%;
    border-radius: 90%;
}


.shopinner{
  padding: 20px;
}


.download-button {
  font-size:40px;
  border-radius: 1000px;
  margin-top: 10%;
  margin-bottom: 10%;
}