/******************************************************************
Site Name:
Author:

Stylesheet: Base Mobile Stylesheet

Be light and don't over style since everything here will be
loaded by mobile devices. You want to keep it as minimal as
possible. This is called at the top of the main stylsheet
and will be used across all viewports.

******************************************************************/

/*********************
FONTS
*********************/

$fontsize-185: 2rem !important;
$fontsize-100: 1.75rem !important;
$fontsize-90: 1.75rem !important;
$fontsize-40: 2.5rem !important;
$fontsize-50: 1.625rem !important;
$fontsize-30: 1.225rem !important;


.fontsize-185 {
  div, p, span, a, ol, ul, dl, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    font-size: $fontsize-185;
  }
  font-size: $fontsize-185;
}

.fontsize-100 {
  div, p, span, a, ol, ul, dl, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    font-size: $fontsize-100;
  }
  font-size: $fontsize-100;
}

.fontsize-90 {
  div, p, span, a, ol, ul, dl, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    font-size: $fontsize-90;
  }
  font-size: $fontsize-90;
}

.fontsize-50 {
  div, p, span, a, ol, ul, dl, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    font-size: $fontsize-50;
  }
  font-size: $fontsize-50;
}

.fontsize-40 {
  div, p, span, a, ol, ul, dl, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    font-size: $fontsize-40;
  }
  font-size: $fontsize-40;
}

.fontsize-30 {
  div, p, span, a, ol, ul, dl, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    font-size: $fontsize-30;
  }
  font-size: $fontsize-30;
}

/*********************
GENERAL STYLES
*********************/

html, body{
  margin: 0;
  padding: 0;
  height: 100%;
  cursor: url("/library/images/PNG/cursor.cur") 25 0,  pointer;

  &.no-touch{
    //styles for non touch devices
    .shape-container{
      .title{
        opacity: 0;
      }
    }
  }

}

body {

	font-family: 'HTWORLD';
	font-size: 100%;
	line-height: 1.5;
	color: $text-color;
	background: transparent linear-gradient(180deg, #DEFFDD 0%, #DFACFF 100%) 0% 0% no-repeat padding-box;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;


    /* Background image is centered vertically and horizontally at all times */
    background-position: center center;

    /* Background image doesn't tile */
    background-repeat: no-repeat;

    /* Background image is fixed in the viewport so that it doesn't move when
       the content's height is greater than the image's height */
    background-attachment: fixed;

    /* This is what makes the background image rescale based
       on the container's size */
    background-size: cover;

  &.overlay-open{
    overflow: hidden;
  }

}

/*********************
LAYOUT & SECTIONS
*********************/

.site-wrapper {
 
    width: 100%;
    min-height: 100%;
    position: relative;
    
    cursor: url("/Applications/MAMP/htdocs/healthewebsite/wp-content/themes/healthewebsite/library/images/cursor.cur");
}








/*********************
Hs
*********************/

.h2 {
  font-size: 15px;
}

.h3 {
  padding: 50px;
  font-size: 15px;
}

.h4 {
  font-size: 15px;
  line-break: normal;
}




/*********************
NAVIGATION
*********************/


.topnav {
  overflow: hidden;
  margin: 10px;
  float: right;
  padding: 10px;
  background-color: white;
  
}

.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 16px 20px;
  text-decoration: none;
  font-size: 15px;
  border-radius: 50%;
  text-decoration: to-upper-case($string: "");
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #DEDEDE;
  color: black; 
  animation: effect 0.4s infinite; 
} 

@keyframes effect { 
    0% { 
        transform: translateX(0px) rotate(0deg); 
    } 

    20% { 
        transform: translateX(-4px) rotate(-4deg); 
    } 

    40% { 
        transform: translateX(-2px) rotate(-2deg); 
    } 

    60% { 
        transform: translateX(4px) rotate(4deg); 
    } 

    80% { 
        transform: translateX(2px) rotate(2deg); 
    } 

    100% { 
        transform: translateX(0px) rotate(0deg); 
    } 
}




.midnav {
 
  
  -webkit-box-pack: justify;
  overflow: hidden;
  display: block;
}




/*********************
WEB/WORLD BUTTONS
*********************/


.web-btn {
  color: black;
  background-color:#E0BCFF;
  font-family: "HTWEB";
  border-radius: 30px;
  font-size: 15px;
  margin: 10px;
}
.web-btn:hover {
  background-color: #DEDEDE;
}

.world-btn {
  color: black;
  background-color:#E0BCFF;
  font-family: "HTWORLD";
  border-radius: 30px;
  font-size: 15px;
  margin: 10px;
}
.world-btn:hover {
  background-color: #DEDEDE;
}




/*********************
MID NAVIGATION
*********************/

.midnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;
  border-radius: 30px;

  
}

/* Change the color of links on hover */
.midnav a:hover {
  background-color: #36F7AD;
  color: black;
}

/* Add a color to the active/current link */
.midnav a.active {
  background-color: #4CAF50;
  color:black;
}



/*********************
SMALL BUTTON NAVIGATION
*********************/


.grid-container1-btnnav{
  display: none;
  grid-template-columns: auto auto auto auto auto auto auto auto;
  grid-gap: 10px;
 
  padding: 10px;
  float: right;
  font-size: 10px;

}

.btnnav a:active{
  background-color: #DEDEDE;
}



/*********************
LANDING PAGE 
*********************/


.front-page-text {
  
  left: 10px;
  padding: 30px;
  position: absolute;
  color: black;
  bottom: 0;

}

.WEBEMOJI {
  height: 35px;
}

.WORLDEMOJI {
  height: 35px;
}


.container {
  display: grid;
  grid-template-columns: auto;
}




/*********************
GRIDS

*********************/
.grid-container {

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 10px;
  margin-left: 0px;
  padding: 0px;
  
}

.grid-container > div {
  background-color: white;
  text-align: left;
  max-width: 80%;
  margin-left: 10%;
  border-radius: 60px;
  line-break: anywhere;
}




/*********************
SPECIAL COLUMNS
*********************/

  .column7 {
    float: left;
    margin-top:20px;
    max-width: 80%;
    margin-left: 10%;
    font-family: "HTWEB";
    color: black;
    background: white;
    border-radius: 40px;
    line-break: normal;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}


  .column8 {

    margin-top: 20px;
    margin-left: 0px;
    width: 100%;
    
    position: relative;
    justify-content: center;
    float: left;
    font-size: 20px;
    line-break: normal;
    
   
    
    font-family: "HTWEB";
    color: black;
    background: white;
    border-radius: 40px;
    line-break: anywhere;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}




/*********************
SHOP DIV
*********************/

.shop {
  float: left;
    margin: 10px;
    background-color: black;
    margin-left: 0px;
    width: 100%;
    /* position: absolute; */
    justify-content: center;
    background-color: black;
    
}

.shop-btn {
  position: absolute;
  margin-top: 50%;
  margin-left: 130px;
  left:0%;
    color: white;
    background-color: blue;
   
    font-family: "HTWORLD";
    border-radius: 90px;
    text-align: center;
  padding: 16px 20px;
  text-decoration: none;

  border-radius: 50%;
  text-decoration: to-upper-case($string: "");
    
}

.download-button {
  position: absolute;
  margin-top: 20%;
  /* margin-left: 0%; */
  margin-right: 40px;
  margin-left: 22px;
  align-content: center;
  text-align: center;
  
  background-color: blue;
  
  border-radius: 90px;

  font-size: 20px;
  
}




/*********************
RANDOM STUFF 
*********************/


.specimen {
  color: black;
  background: white;
  border-radius: 40px;
  line-break: anywhere;
}

.arrow {
  width: 114px;
  margin-left: 25%;
}

.glyphs {
  padding: 100px;
  font-size: 300px;
  z-index: 4;
}
.glyphdiv {
  
  text-align: center;
  font-size: 200px;
}


#text-ani {
  font-size: 300px;
  font-family: "HTWEB"; 
  color: black;
}

#text-ani div {
  
  
}

.shape {

  position: absolute;
  top: 213px;
  right:70px;
  padding: 20px;
  pointer-events: none;
  

}

p{
    
    font-size: 30px;
   
    line-height: 1;
    color: black;
  }



/* SLIDER-STYLES TESTING */

.slidecontainer {
  width: 60%;
  right: 10;
}

.slider {
  -webkit-appearance: none;
  width: 60%;
  margin:30px;
  height: 1px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  border-radius:30px;
  width: 25px;
  height: 25px;
  background: black;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 10px;
  height: 10px;
  background: #4CAF50;
  cursor: pointer;
}


  .type-tester {
    float: left;
    height: 544px;
    background-color: white;
    border-radius: 50px;
     
  }
  
  .tester-controls {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

  .type-area {
      background-color: white;
      border-radius: 50px;
      color: black;
      font-size: 70px;
  }

  .heal-the-web {
    font-family: 'HTWEB';
  }

  .heal-the-world {
    font-family: 'HTWORLD';
  }




  /*********************
STYLISTIC SETS
*********************/

  .stylistic-set-ss02 {
    font-feature-settings: "ss02";
  }
  .stylistic-set-ss03 {
    font-feature-settings: "ss03";
  }
  .stylistic-set-ss04 {
    font-feature-settings: "ss04";
  }

  .stylistic-set-ss05 {
    font-feature-settings: "ss05";
  }

  .stylistic-set-ssAA {
    font-feature-settings: "ssAA";
  }
  .stylistic-set-ssaa {
    font-feature-settings: "ssaa";
  }
  .set-type-scale {
    font-size: 7vw;
    padding: 59px;
    background: white;
    border-radius: 50px;
    margin: 30px;
  }
    
  .styles-div-outer {
    background-color: #EA9BFF;
  }


  .downloadbtn {

    height: 40px;
    margin: 10px;
    border-radius: 50%;
   
  }




/*********************
LINK STYLES
*********************/

a, a:active, a:focus {
  outline: none;
}

a, a:visited {

  color:black;




	/* on hover */
	&:hover {
    color:white;
  } 
 	/* on focus */ 
  &:focus {
		color:black;
	}

	/* on click */
	&:active {
    color:white;
	}

	/* mobile tap color */
	&:link {
		/*
		this highlights links on iPhones/iPads.
		so it basically works like the :hover selector
		for mobile devices.
		*/
		-webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
	}

}

/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
	text-rendering: optimizelegibility;
  
	font-weight: 500;
	/*
	if you're going to use webfonts, be sure to check your weights
	http://css-tricks.com/watch-your-font-weight/
	*/

	/* removing text decoration from all headline links */
	a {
		text-decoration: none;
	}
}

h1, .h1 {
	font-size: 2.5em;
	
}

h2, .h2 {
	font-size: 15px;
	line-height: 1.4em;
	margin-bottom: 0.375em;
}

h3, .h3 {
	font-size: 15px;
}

h4, .h4 {
	font-size: 12px;
	
}

h5, .h5 {
  font-size: 0.546em;
  line-break: normal;
	
}

/*********************
HEADER STYLES
*********************/

#header {


}

/*********************
CONTENT
*********************/

#content{
  background-color: $content-background-color;
  padding-bottom:0;
}

/*********************
NAVIGATION STYLES
*********************/

/*
all navs have a .nav class applied via
the wp_menu function; this is so we can
easily write one group of styles for
the navs on the site so our css is cleaner
and more scalable.
*/

.nav {
	border-bottom: 0;
	margin: 0;

	li {

		a {
			display: block;
			color: $text-color;
			text-decoration: none;
			padding: 0.75em;

			/*
			remember this is for mobile ONLY, so there's no need
			to even declare hover styles here, you can do it in
			the style.scss file where it's relevant. We want to
			keep this file as small as possible!
			*/
			&:hover, &:focus {

			}
		}

		&:first-child {}

		&:last-child {}

		/*
		so you really have to rethink your dropdowns for mobile.
		you don't want to have it expand too much because the
		screen is so small. How you manage your menu should
		depend on the project. Here's some great info on it:
		http://www.alistapart.com/articles/organizing-mobile/
		*/
		ul.sub-menu,
		ul.children {

			li {

				a {
					padding-left: 30px;

					&:hover,
					&:focus {}

					&:link {}

				}

				&:first-child {}

				&:last-child {}

			}

		}

	} /* end .menu li */

	/* highlight current page */
	li.current-menu-item,
	li.current_page_item,
	li.current_page_ancestor {

		a {}





/*********************
FOOTER STYLES
*********************/

#footer {
  text-align: right;
  position: absolute;
  bottom:0;
  width: 100%;

  display: flex;
  align-items: center !important;

  .footer-inner{
    padding: 0;
    display: inline-block;
  }

  .nav{
    li{
      a{
        color: $newnew-color-white;
      }
    }
  }
}
  }
}