/*********************
FONTS
*********************/

$fontsize-185: 2.75rem !important;

$fontsize-100: 2.25rem !important;
$fontsize-90: 1.75rem !important;
$fontsize-40: 2.5rem !important;
$fontsize-50: 1.625rem !important;
$fontsize-30: 1.225rem !important;

.fontsize-185 {
  div, p, span, a, ol, ul, dl, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    font-size: $fontsize-185;
  }
  font-size: $fontsize-185;
}

.fontsize-100 {
  div, p, span, a, ol, ul, dl, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    font-size: $fontsize-100;
  }
  font-size: $fontsize-100;
}

.fontsize-90 {
  div, p, span, a, ol, ul, dl, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    font-size: $fontsize-90;
  }
  font-size: $fontsize-90;
}

.fontsize-50 {
  div, p, span, a, ol, ul, dl, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    font-size: $fontsize-50;
  }
  font-size: $fontsize-50;
}

.fontsize-40 {
  div, p, span, a, ol, ul, dl, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    font-size: $fontsize-40;
  }
  font-size: $fontsize-40;
}

.fontsize-30 {
  div, p, span, a, ol, ul, dl, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    font-size: $fontsize-30;
  }
  font-size: $fontsize-30;
}

/*********************
NEWSLETTER
*********************/
.newsletter-wrap {
  form {
    width: 370px;
    .input-content {
      width: calc(370px - 60px);
    }
  }
}


.grid-container {
    
  border-radius: 50px;
  margin-top: 30px;
  justify-content: space-between;
  


}
.front-page-text {
  height: 90vh;
}
.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: left;
  padding: 0px 0;
  font-size: 15px;
  color: black;
  border-radius:60px;
  border-bottom: 1px black;
  margin-top: 30px;
}



.set-type-scale {
padding: 59px;
}

.column1 {
  font-family: 'HTWEB';
  line-break: normal;
}

.column2 {
  font-family: 'HTWORLD';
  line-break: anyhwere;
}


.column3{
  margin-top:20px;
}

.download-button{
  margin-left: 42px;
  border-radius: 90px;

}


  
.download-button a {
  padding: 0px;

  

}



.column7 {
  float: left;
  margin-top: 20px;
  
  /* margin-left: 50px; */
 
}



.column8 {
  margin-top: 20px;
  margin-left: 10%;

 

}

/// shop divs////
.shop {
  margin-top: 30px;
  max-height: 400px;
  justify-content: center;

}

.slider {
  width: 50%;
}

.shop-btn{
margin-left: 38%;
margin-top: 38%;
}


.glyphdiv {
  margin-top: 50px;
}


.container {
  width: 100%;
  margin-left: auto;
  padding-right: 0px;
  padding-left: 0px;
}


