


.topnav a {

  font-size: 20px;
  margin: 10px;
}

p {
  font-size: 60px;
  line-height: 1;
  color: black;
  padding: 140px;

}

.front-page-text{
  font-size: 60px;
}


.WEBEMOJI {
  height: 55px;
}

.WORLDEMOJI {
  height: 55px;
}



.midnav {
  -webkit-box-pack: justify;
  overflow: hidden;
  display: block;
  width: 50%;


}

#innerwebbtn {
  text-align: center;
  padding: 28px;
  font-size: 24px;
}

#innerworldbtn {
  text-align: center;
  padding: 28px;
  font-size: 24px;
}

.set-type-scale{
  padding:100px;
}


.FUTUREPET{
  background-color: white;
    border-radius: 50px;
    color: black;
    line-break: normal;
    padding: 45px;
}


.grid-container1-btnnav {
  display: none;
  grid-template-columns: auto auto auto auto auto auto auto auto;
  grid-gap: 8px;
  padding: 13px;
  float: left;
  margin-left: 36px;
  font-size: 31px;
  margin-top: 40px;
}



.grid-container1-btnnav a {
  background-color: #36F7AD;
  color: black;
  text-align: center;
  margin: 11px;
  text-decoration: none;
  font-size: 22px;
  padding: 12px;
  border-radius: 45px;
}

.grid-container1-btnnav a:hover {
  background-color: #DEDEDE;
}



.grid-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    grid-gap: 10px;
    padding-left: 31px;
    padding-right: 31px;
    margin-left: 0;
  }
  
.grid-container > div {
  line-break:normal;
  max-width: 100%;
  margin-left: 0;

}


  .column7 {
    float: left;
    margin-top: 70px;
    /* max-width: 375px; */
    max-width: 80%;
    margin-left:10%;
    /* width: 90%; */
    font-family: "HTWEB";
    color: black;
    background: white;
    border-radius: 40px;
    line-break: normal;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  

  }


  .column8 {
    margin-left: 10%;
    max-width: 80%;
    margin-bottom: 30px;
    font-size: 15px;
  }


  .container{
    max-width: 768px;
    padding-right: 0px;
    padding-left: 0px;

  }

  .shop {
    height: 500px;
  }

  .shop-btn {
    width: 200px;
    border-radius: 90px;
   

  }


  .download-button{
    border-radius: 90px;
    padding: 48px;
     width: 90%;
  }
  



  ///FONT SIZES


  h5, .h5 {
    font-size: 1.16em;
    line-height: 1.5;

  }