{% block html_head_container %}
    {% include 'templates/html-header.twig' %}
    {% block head %}
    {% endblock %}
{% endblock %}



<body {{ fn('body_class', overlay) }} itemscope itemtype="http://schema.org/WebPage">



<div class ="site-wrapper">


<div class="topnav">
   <a href="#try" id ="trybtn"><span class="innertry">TRY</span></a>
  <a href="#styles" id="stylesbtn"><span class="innerstyles">STYLES</span></a>
  <a href="#info" id ="infobtn"><span class="innerinfo"></span>INFO</a>
  <a href="#shop" id ="shopbtn"><span class="innershop">SHOP</span></a>
  <a href="#getit" id ="getitbtn"><span class="innershop">GET IT!</span></a>
</div>

<div class "container">

<div class "front-page-text fontsize-100" style = "background-color: white;">
<p> Heal the world and 
make the web a 
better place for <br>
all <img src ="{{ site.theme.path }}/library/images/WEBEMOJI.png" class ="WEBEMOJI">  and  
 <img src ="{{ site.theme.path }}/library/images/WORLDEMOJI.png" class ="WORLDEMOJI"> </p>



</div>


<div class "type-tester">


<div class ="midnav">
<div class ="web-btn"
<a href="#healtheweb" id ="innerwebbtn">HEAL THE WEB</a>
</div>
<div class ="world-btn"
  <a href="#healthworld" id ="innerworldbtn">HEAL THE WORLD</a>
  </div></div>
  <div class ="input"> <input type="range" min="1" max="20" step="0.5" value="50" autocomplete="off" class="slider" id="myRange"> </div>
</div>
<div class="grid-container1-btnnav">

  <div class ="item1"><a href="#ALT1" class="ALT1">ALT 1</a></div>
  <div class ="item2"> <a href="#ALT2" class="ALT2">ALT 2</a></div>
  <div class ="item3"> <a href="#ALT3" class="ALT3">ALT 3</a> </div>
  <div class ="item4"> <a href="#ALT4" class="ALT4">ALT 4</a> </div>
  <div class ="item5"> <a href="#ALT5" class="ALT5">ALT 5</a> </div>
  <div class ="item6"><a href="#ALT6" class="ALT6">ALT 6</a></div>
  <div class ="item7"><a href="#aa" class="aa">aa</a></div>
  <div class ="item8"><a href="#AA" class="AA">AA</a></div>

</div>
<div class="set-type-scale" id ="typescale" style="font-size: 9vw;">
<div class="FUTUREPET" id ="typearea" contenteditable="true" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"> What's your future 
planet pet?</div>


</div>

 
 
</div>
</div>



<div class="grid-container">
  <div class="column1" id ="COL1" style ="padding: 50px;
    background-color: white;">
    <h2>Heal the Web</h2>
    <h3 style = "padding: 20px;">ABCDEFGHIJ KLMNOPQRST UVWXYZ abcdefghijkl mnopqrstuvwxyz</h3>
    <h2 class ="ss01" style = "font-feature-settings: ss01;"> ss01: Single Storey a and g</h2>
    <h3 class ="ss01" style = "padding: 20px" "font-feature-settings: ss01;"> <span class="normal">agenda</span>→ ag<span class="normal">enda</span></h3>
    <h2 class ="ss02"> ss02: Alternate Caps Set</h2>
    <h3 class ="ss02" style = "padding: 20px" "font-feature-settings: ss01;"> <span class="normal">REALITY</span> → REA<span class="normal">LITY</span> </h3>
    <h2 class ="ss03"> ss03: Alternate Lower Case Single Storey a and g</h2>
    <h3 class ="ss03" style = "padding: 20px" "font-feature-settings: ss01;"> <span class="normal">agenda</span> → ag<span class ="normal">enda</span> </h3>
    <h2 class ="ss04"style = "font-feature-settings: ss04;"> ss04: Alternate t With Extended Crossbar</h2>
    <h3 class ="ss04" style = "padding: 20px" "font-feature-settings: ss04;"> <span class="normal">Alternate</span> → <span class ="normal">Al</span>t<span class="normal">ernate</span> </h3>
    <h2 class ="ss05" style = "font-feature-settings: ss05;"> ss05: Alternate Lower Case Set</h2>
    <h3 class ="ss05" style = "padding: 20px" "font-feature-settings: ss05;"> <span class="normal">Alternate</span> → <span class ="normal">A</span>lt<span class ="normal">er</span>nat<span class="normal">e</span></h3>
    <h2 class ="ss06" style = "font-feature-settings: ss06;"> ss06: Straight Stroke Quotes, Comma and Semicolon</h2>
    <h3 class ="ss06" style = "padding: 20px" "font-feature-settings: ss06;"> <span class="normal">DC, LA; „NY“</span> → <span class ="normal">DC</span>, <span class ="normal">LA</span>; „<span class ="normal">NY</span>“ </h3>

  </div>
  
  <div class="column2" style ="padding: 50px;
    background-color: white;">
    <h2>Heal The World</h2>
    <h3 style = "padding: 20px;">ABCDEFGHIJKLMNO<br>PQRSTUVWXYZ abcdefghijklmnopqrs tuvwxyz</h3>
    <h2 class ="ss01"> ss01: Odd Alternate Caps</h2>
    <h3 class ="ss01" style = "padding: 20px;"> <span class ="normal"> ANGRY DOLL </span> → ANGRY D<span class ="normal">O</span>LL </h3>
    <h2 class ="ss02"> ss02: Comon Alternate Caps</h2>
    <h3 class ="ss02" style = "padding: 20px;"> <span class ="normal"> MONT REALITY</span> → MONT REA<span class="normal">LI</span>TY </h3>
    <h2 class ="ss03"> ss03: Slap Serif Alternate Caps</h2>
    <h3 class ="ss03" style = "padding: 20px;"> <span class ="normal"> TARANTINO</span> → TA<span class ="normal">R</span>A<span class ="normal">N</span>TI<span class="normal">NO</span> </h3>
    <h2 class ="ss04"> ss04: Alternate Lowercase Glyphs</h2>
    <h3 class ="ss04" style = "padding: 20px;"> <span class ="normal"> web reality</span>→ web rea<span class="normal">li</span>ty </h3>
    <h2 class ="extra"> extra: Contextual Substitutes For Lowercase Alternates</h2>
    <h3 class ="extra" style = "padding: 20px;"> <span class ="normal"> truely altruist</span> → <span class ="normal">truel</span>y a<span class ="normaL">l</span>t<span class ="normal">ruis</span>t </h3>
    
    <div class = "specimen"> <h2> DOWNLOAD SPECIMEN PDF</h2> <img src ="{{ site.theme.path }}/library/images/arrow.png" class ="arrow"> </div> 
    
  </div>
</div>
</div>


<div class="grid-container">
<div class="column3" style ="padding: 50px;
    background-color: white;">
<h2> Numbers </h2>
<h5 style = "padding: 20px;"> 0123456789 ½ ¼ ¾ ⅛ ⅜ ⅝ ⅞ ⁰¹²³⁴⁵⁶⁷⁸⁹</h5>
<h2> And with hundreds of extended latin glyphs</h2>
<h5 style = "padding: 20px;"> áăâäàāąåãæćčçċð ďđéěêëėèēęğģġħïįjȷķĺ ľļłńňņŋñóôöòőōøõ œþŕřŗśšşșßŧťţțtúû üùűūųůẃŵẅẁýŷÿỳźžż</h5>
</div>



<div class="column4" style ="padding: 50px;
    background-color: white;">
<div class= "glyphdiv">
<div id ="glyph1" style="display: none;"> þ </div>
<div id ="glyph2" style="display: none;"> ř </div>
<div id ="glyph3" style="display: none;"> ï </div>
<div id ="glyph4" style="display: none;"> ẃ </div>
<div id ="glyph5" style="display: none;"> á </div>
<div id ="glyph6" style="display: none;"> č </div>
<div id ="glyph7" style="display: none;"> ÿ </div>
<div id ="glyph8" style="display: none;"> ă </div>
<div id ="glyph9" style="display: none;"> æ </div>
<div id ="glyph10" style="display: none;">ŗ </div>
<div id ="glyph11" style="display: none;"> ò </div>
<div id ="glyph12" style="display: none;"> ļ </div>
<div id ="glyph13" style="display: none;"> ☮ </div>
<div id ="glyph14" style="display: none;"> ġ </div>
<div id ="glyph15" style="display: none;"> ■ </div>
<div id ="glyph16" style="display: none;"> ŷ </div>
<div id ="glyph17" style="display: none;"> ï </div>
<div id ="glyph18" style="display: none;"> 🍦 </div>
<div id ="glyph19" style="display: none;"> ç </div>
<div id ="glyph20" style="display: none;"> ❤ </div>
<div id ="glyph21" style="display: none;"> 🌍 </div>
<div id ="glyph22" style="display: none;"> ů </div>
<div id ="glyph23" style="display: none;"> ☠ </div>
<div id ="glyph24" style="display: none;"> • </div>
</div>
</div>




<div class="column5" style="padding: 50px;
    background-color: white;"> 
<h2> SUPPORTED LANGUAGES </h2>
<h4 style = "padding: 20px; line-break: normal;"> Afrikaans, Albanisch, Asu, Baskisch, Bemba, Bena, Bosnisch, Dänisch, Deutsch, Diola, Englisch, Estnisch, Färöisch, Filipino, Finnisch, Französisch, Friaulisch, Galicisch, Ganda, Gusii, Inari-Samisch, Indonesisch, Irisch, Isländisch, Italienisch, Kabuverdianu, Kalenjin, Katalanisch, Kinyarwanda, Kornisch, Kölsch, Kroatisch, Lettisch, Litauisch, Luhya, Luo, Luxemburgisch, Machame, Madagassisch, Makhuwa-Meetto, Makonde, Malaiisch, Maltesisch, Manx, Morisyen, Niederdeutsch, Niederländisch, Niedersorbisch, Nord-Ndebele, Nordsamisch, Norwegisch Bokmål, Norwegisch Nynorsk, Nyankole, Obersorbisch, Oromo, Polnisch, Portugiesisch, Rätoromanisch, Rombo, Rukiga, Rumänisch, Rundi, Rwa, Samburu, Sango, Sangu, Schottisches Gälisch, Schwedisch, Schweizerdeutsch, Sena, Shambala, Shona, Slowakisch, Slowenisch, Soga, Somali, Spanisch, Suaheli, Taita, Teso, Tschechisch, Turkmenisch, Türkisch, Ungarisch, Vunjo, Walisisch, Westfriesisch, Zulu</h4>

</div>

<div class="column6" style="padding: 50px;
    background-color: white;"> 
<h2> SYMBOLS </h2>
<h5 style = "padding: 20px; line-break: normal; "> .,:;…!¡?¿·•*/#\(){}[]-–—«»_
‹›"'‚„“”‘’¢¤$€£¥@&¶§©®™°|¦†‡
+−×÷=≠><≥≤±≈~¬^∅∞∫∏∑√∂%‰№
↑↗→↘↓↙←↖↔↕ 
●◊■▲▼△▽◬👁🌍🌎🌐📶🔍☉☆☮
♡♥❤🍦💩😅😅😇☮👍👎💀☠🖒🖓 
☻😃😅😇😍😎😐🙁🙂🤮🤯🤬</h5>
</div>
</div>
</div>

<div class ="column7" id ="story"> 
<h2> THE STORY OF HEAL THE WEB AND HEAL THE WORLD </h2> 
<h3 style = "padding: 20px white-space: pre-line;"> <span>The Font startet with a simple but big message: Heal the web with an experimental open source Typeface desigend for eyeryone. Originaly developed by Rainbow Unicorn for Mozilla’s Internet Health Report 2020 the lettering resembles circuits, connections and networks through Geometric Shapes sticking together like an abstract Puzzle.</span>

<span>While preserving the original edgy Character the goal became to create an entire Font with improved legibility and complex Lettering for typographic experiments. </span>

<span> <div class ="worldunderline">Heal the World</div>with its edgy typography, contains abstract Glyphs and is best used as an All Caps Font while the minuscules are a construction kit for further experiments. Unlike it’s other version it consist of strictly geometric shapes without optical correction.</span>

<span> <div class ="webunderline">Heal the Web</div> is adapted for bodytext with improved legibility but still a very strong geometric edginess. 
Both Versions have collections of alternative Glyphs which originated from In-between steps of the design process. They are accessible through OpenTypes Stylistic sets.</span></h3>
</div>

<div class ="column8"> 
<h2> CREDITS </h2> 
<h5> Design: Rainbow Unicorn & Jakub Kanior Production: Jakub Kanior </h5>
</div>
</div>
<div class ="container">
´<div class ="shop-btn"><div class "shopinner"><a href="#SHOP" style="color: white;">SHOP</a></div></div>
<div class ="shop" id ="shopdiv"> 


</div>
</div>
</div>


<div class ="download-button" id="download">
<a href="#DOWNLOAD" style="color: white; padding: 90px;">DOWNLOAD HEAL THE WEB & WORLD (PRINT AND ONLINE)</a>
</div>

 

    {% block footer %}
        {{ function('wp_footer') }}
    {% endblock %}



<script>

    var currentPageId = '{{ post.id }}';
    var themePath = '{{ site.theme.path }}';
    var siteURL = '{{ site.url }}';
    var languageCode = '{{ options.languageCode }}';
    var deviceType = '{{ deviceType }}';
    var isHome = '{{ isHome }}';

    jQuery(document).ready(function($) {
        window.controller = new Controller($);
        window.controller.init();
    });
</script>

</body>
</html>