<ul class="nav footer-nav">
    {% for item in footer_nav.get_items %}
        <li class="menu-item {{item.classes | join(' ')}}"><a class="nav-footer-link fontsize-30" href="{{item.get_link}}">{{item.title}}</a>
        </li>
    {% endfor %}
</ul>