{% if menu %}
	<nav role="navigation" class="nav-main-wrap" itemscope itemtype="http://schema.org/SiteNavigationElement">
    <ul class="nav main-nav">
        {% for item in mainnav.get_items %}
        <li class="nav-main-item {{item.classes | join(' ')}}"><a class="nav-main-link" href="{{item.get_link}}">{{item.title}}</a>
            {% if item.get_children %}
                <ul class="nav-drop">
                    {% for child in item.get_children %}
                        <li class="nav-drop-item {{child.classes | join(' ')}}"><a href="{{child.get_link}}">{{child.title}}</a></li>
                    {% endfor %}
                </ul>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</nav>
{% endif %}