<div class="newsletter-wrap d-flex flex-column justify-content-center align-items-center">
    <h3 class="fontsize-90 color--black-dark">{{ options.newsletter_headline }}</h3>
    <div class="form-wrap d-flex justify-content-center">
        <form id="js-form-inputs" action="https://rainbow-unicorn.us5.list-manage.com/subscribe/post-json?u=b837cb313a33e01747a28d942&amp;id=a45a8c7d66&c=callback" method="post" novalidate>

            <!-- honeypot (needed for security) -->
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" id="js-validate-robot" name="b_a4752870f583bb49a02427b3c_143fa46c21" tabindex="-1" value=""></div>

            <div class="form-content">
                <div class="form-elements d-flex justify-content-center">
                    <label for="email"></label>
                    <div class="input-content d-block">
                        <input type="email" class="fontsize-email-input" name="EMAIL" id="mce-EMAIL" value="" placeholder="{{ options.newsletter_placeholder }}">
                    </div>
                    <!-- submit -->
                    <button class="d-flex" type="submit" name="subscribe" id="mc-embedded-subscribe"><div class="submit-text">{{ options.newsletter_button }}</div></button>
                </div>
            </div>
            <!-- response -->
            <div class="sign-up-messages"><div class ="inner"></div></div>
        </form>
    </div>
</div>

